<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body id="body">
    <div class="container">

      <div class="row">
        <div class="col-md-8 col-md-offset-2 text-center">
          <header>
            Welcome to the Recipe Selector!
          </header>
        </div>
      </div>
      <div class="row">

        <div class="col-md-8 grey white col-md-offset-2 text-center">
          <p>
            What food should you make?
          </p>
        </div>
      </div>

      <div class="row">

        <div class="col-md-5 col-md-offset-3 white">
          <form class="/results" method="post"> <br>

            <label for="meal">What meal are you cooking for?</label><br>
            <input type="radio" name="meal" value="breakfast"> Breakfast<br>
            <input type="radio" name="meal" value="lunch"> Lunch<br>
            <input type="radio" name="meal" value="dinner"> Dinner<br><br>
            <label for="difficulty">How difficult would you like your recipe to be?</label><br>
            <input type="radio" name="difficulty" value="1"> Beginner<br>
            <input type="radio" name="difficulty" value="1"> Intermediate<br>
            <input type="radio" name="difficulty" value="1"> Expert<br>
            <br><br><br><br><br>
            <input type="submit">
          </form>
        </div>

      </div>

<br><br>


  </div>
  </body>
</html>
