<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Recipe Me!</title>
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <nav>
      <style>
      ul {
          list-style-type: none;
          margin: 0;
          padding: 0;
          overflow: hidden;
          background-color: #333;
      }
      li {
          float: left;
      }
      li a {
          display: block;
          color: white;
          text-align: center;
          padding: 14px 16px;
          text-decoration: none;
      }
      li a:hover {
          background-color: #111;
      }
      ul {
          position: fixed;
          top: 0;
          width: 100%;
      }
      .active {
    background-color: #38A098;
      }
      </style>
    </nav>
  </head>
  <body id="body">
    <ul>
      <li><a class="active" href="/">Home</a></li>
      <li><a href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <div class="container">
<br>
      <div class="row">
        <div class="col-md-8 col-md-offset-2 didact white text-center messiri"><br><br>
          <h1>
            Food For Thought!
          </h1><br>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 dgrey white col-md-offset-2 text-center pacifico boxshadow p">
          <br>
          <p>
            What food should you make?
          </p>
          <br>
        </div>
      </div>
      <div class="row">
<br><br>
        <div class="col-md-6 col-md-offset-3 white mesirri">
          <form action="/results" method="post"> <br>



            <label for="meal" class="mesirri">What meal are you cooking for?</label><br>
          <div class="row opensans">
            <input type="radio" name="meal" value="breakfast"> Breakfast<br>
            <input type="radio" name="meal" value="lunch"> Lunch<br>
            <input type="radio" name="meal" value="dinner"> Dinner<br><br>
          </div>
            <label for="difficulty" class="mesirri">How difficult would you like your recipe to be?</label><br>
          <div class="row opensans">
              <input type="radio" name="difficulty" value="0"> Beginner<br>
              <input type="radio" name="difficulty" value="1"> Intermediate<br>
              <input type="radio" name="difficulty" value="2"> Expert<br>
          </div>
            <br><br><br><br><br>
          <div class="row">
            <div class="col-md-6 col-md-offset-3 pacifico">
              <input type="submit" value="Recipe Me!" class="btn btn-default btn-lg btn-block"></button>
            </div>
          </div>
          </form>
        </div>



      </div>

<br><br>


  </div>
  </body>
</html>
