<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>News</title>
    <link href="images/favicon (1).ico" rel="icon" type="image/x-icon" />
    <link rel="stylesheet" href="css/style.css" media="screen" title="no title" charset="utf-8">
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <nav>
      <nav>
        <style>
        .active {
      background-color: #38A098;
        }
        </style>
      </nav>
    </nav>
  </head>
  <body id="body">
    <%=@images%>
    <img src= "<%=@images%>">
    <ul>
      <li><a href="/">Home</a></li>
      <li><a class="active" href="/news">News</a></li>
      <li><a href="/contact">Contact</a></li>
      <li><a href="/about">About</a></li>
    </ul>
    <div class="container">
<br><br><br>
      <div class="row">

        <div class="col-md-8 dgrey white col-md-offset-2 text-center pacifico boxshadow p2 padding">
          <p>
            News
          </p>
        </div>
      </div>
<br><br><br>
      <div class="row">

        <div class="col-md-8 grey2 white col-md-offset-2 text-center messiri boxshadow2 p">
<br><br>
          <p>
            Hello user! Thank you so much for trying out our website! This website was created on June 30, 2016 and we hope you like it! This website was made through the Upperline program. We created this awesome website in less than two days! This was a collaborative effort and we hope you enjoy!
          </p>
<br><br>
        </div>

      </div>

<br><br>


  </div>
  </body>
</html>
