@import 'https://fonts.googleapis.com/css?family=Didact+Gothic';
@import 'https://fonts.googleapis.com/css?family=Open+Sans|Pacifico';
@import 'https://fonts.googleapis.com/css?;
@import 'https://fonts.googleapis.com/css?family=El+Messiri';

.messiri{
  font-family: 'El Messiri', sans-serif;
}
.didact{
  font-family: 'Didact Gothic', sans-serif;
}
.pacifico{
  font-family: 'Pacifico', cursive;
}
.opensans{
  font-family: 'Open Sans', sans-serif;
}
.p {
  font-size: 25px;
}
.p2{
  font-size: 40px;
}
.padding{
  padding-top: 25px;
  padding-bottom: 25px;
}
.shadowgrey{
  background-color: #0F414F;
}
.dgrey{
  background-color: #0E3640;
}
.grey2{
  background-color: #30696E;
}
.grey{
  background-color: #058178;
}
.lgrey{
  background-color: #1A968D;
}
.llgrey{
  background-color: #38A098;
}
.white{
  color: #ffffff;
}
.lblue{
  background-color: #275E9F;
}
.blue{
  background-color: #10478A;
}
#body{
  background-image: url(../images/backgroundimg.jpg);
  background-size:cover;
  background-position: center;
  background-attachment: fixed;
}
.boxshadow{
  box-shadow: 10px 10px 5px #03222A;
}
.boxshadow2{
  box-shadow: 10px 10px 5px #0A3D41;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li {
    float: left;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
li a:hover {
    color: #ffffff;
    background-color: #111;
    text-decoration: none;
}
ul {
    position: fixed;
    top: 0;
    width: 100%;
}
